.salesExtra {
  display: inline-block;
  margin-right: 24px;

}

.salesExtra a {
  margin-left: 24px;
}

.salesRank {
  padding: 0 32px 32px 72px;
}

.rankingList {
  margin: 25px 0 0;
  padding: 0;
  list-style: none;
}


.rankingList li {
  display: flex;
  align-items: center;
  margin-top: 16px;
  zoom: 1;
}

.rankingList li::before,
.rankingList li::after {
  display: table;
  content: ' ';
}

.rankingList li::after {
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.rankingList li span {
  /* color: @text-color; */
  font-size: 14px;
  line-height: 22px;
}

.rankingList li .rankingItemNumber {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 1.5px;
  margin-right: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  /* background-color: @tag-default-bg; */
  border-radius: 20px;
}

.rankingList li .rankingItemNumber.active {
  color: #fff;
  background-color: #314659;
}

.rankingList li .rankingItemTitle {
  flex: 1;
  margin-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}