html{
  /* 设置最小宽度，防止页面变形 */
  min-width: 992px;
}

html[data-theme="dark"] {
  scrollbar-color: rgba(226, 232, 240, 0.25) rgba(236, 220, 220, 0.06);
  background: #2a2c2c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
