html{
  /* 设置最小宽度，防止页面变形 */
  min-width: 992px;
  ---modal-border-color: rgba(5, 5, 5, 0.06);
}

html[data-theme="dark"] {
  scrollbar-color: rgba(226, 232, 240, 0.25) rgba(236, 220, 220, 0.06);
  background: #2a2c2c;
  ---modal-border-color: rgba(236, 220, 220, 0.06);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 自定义Modal样式，当Modal容过多时，给header和footer添加分割线，需要时给Modal设置wrapClassName属性为custom-modal-style */
.custom-modal-style .ant-modal-content {
  padding: 0;
}
.custom-modal-style .ant-modal-header {
  margin: 0;
  padding: 20px 20px 10px;
  border-bottom: 1px solid var(---modal-border-color);
}
.custom-modal-style .ant-modal-body {
  padding: 20px 24px;
}
.custom-modal-style .ant-modal-footer {
  margin: 0;
  padding: 10px 20px 20px;
  border-top: 1px solid var(---modal-border-color);
}